@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

#loading{
  display: block;
  position: relative;
  bottom: 50%;
}

.CardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card{
  margin: 10px;
  display: flex;
  flex-direction: column;
}
